<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Queens Campus Map</title>
		<!--Load CSS and custom styles, and load Bootstrap-->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="static/styles.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!--Navigation bar-->
		<div class="topnav">
			<a href="/">Home</a>
			<a href="/location">Plot your Route</a>
			<a href="/wholemap">Show the Map</a>
		</div>

		<div class="container">
			<h1>
				Welcome to an interactive map to explore Queen's University
				campus.
			</h1>
			<!--Instructions on how to use-->
			<p>Select 'Home' to come to this page.</p>
			<p>Select 'Show the Map' to view all available buildings and departments you can navigate to and from.</p>
			<p>Select 'Plot your route' to plot your route.</p>
			<a href="/location"	class="btn btn-info" role="button" style="background-color: #cc1919">Plot your route</a>
			<br /><br />
			<img src="https://i2-prod.belfastlive.co.uk/incoming/article18856569.ece/ALTERNATES/s1200c/2_mark-rowan-queens-university.jpg"
				style="width: 300px; height: 300px"
			/>
		</div>
	</body>
</html>
